{%- assign current_filters = '' -%}
{%- if request.query_string contains 'type=' or request.query_string contains 'color=' or request.query_string contains 'prices=' -%}
  {%- assign current_filters = request.query_string | remove: 'page=' | prepend: '&' | strip -%}
{%- endif -%}


{%- if paginate.pages > 1 and paginate.items >= 24 -%}
  <div class="pagination js-pagination-wrapper">
    <div class="pagination__inner">
      
      {%- if paginate.previous -%}
        <a class="pagination__prev link" rel="prev"
           href="{{ paginate.previous.url }}{{ current_filters }}"
           title="{{ 'general.pagination.previous_page' | t }}">
          {%- render 'icon', icon: 'arrow-left' -%}
          {{ 'general.pagination.previous_page' | t }} <span style="width: 3px;"></span>Page
        </a>
      {%- endif -%}

      <div class="pagination__nav">
        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ current_filters }}" class="pagination__nav-item link"
               title="{{ 'general.pagination.go_to_page' | t: page: part.title }}">
              {{ part.title }}
            </a>
          {%- else -%}
            <span class="pagination__nav-item {% if part.title == paginate.current_page %}is-active{% endif %}">
              {{ part.title }}
            </span>
          {%- endif -%}
        {%- endfor -%}
      </div>

      <span class="pagination__page-count">
        {{ 'general.pagination.page_count' | t: current_page: paginate.current_page, pages: paginate.pages }}
      </span>

      {%- if paginate.next -%}
        <a class="pagination__next link" rel="next"
           href="{{ paginate.next.url }}{{ current_filters }}"
           title="{{ 'general.pagination.next_page' | t }}">
          {{ 'general.pagination.next_page' | t }}<span style="width: 3px;"></span>Page
          {%- render 'icon', icon: 'arrow-right' -%}
        </a>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
