<link rel="stylesheet" href="{{ 'custom-steps-form-section.css' | asset_url }}">

<div class="custom_steps_form">
  <div class="container">
    <div class="step_form_inner">
      {% comment %}
        <div class="request_qu">
          {% if section.settings.sectionTitle != blank %}
          <div class="heading_top">{{section.settings.sectionTitle}}</div>
          {%endif %}
          <ul>
            {% if section.settings.MainList != blank %}
                {{ section.settings.MainList }}
            {% endif %}
          </ul>
        </div>
      {% endcomment %}
      <div class="step_form_row">
        <div class="video_part">
          <div class="video_potion">
            {% if section.settings.Video_url != blank %}
              <video class="img-fluid" style="width: 100%;" muted playsinline autoplay>
                <source src="{{ section.settings.Video_url }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {% endif %}
          </div>
          <div
            class="timer_box"
            {% if section.settings.formButtonQouteImage != blank %}
              style="background-image: url( {{section.settings.formButtonQouteImage |img_url:"master" }});"
            {% endif %}
          >
            <div>
              {{ section.settings.formButtonQoute }}
            </div>
          </div>
        </div>
        <div class="form_part">
          <div class="form_inner">
            <div class="tab-status">
              <span class="tab first_tab active">
                <div class="tab_name">{{ section.settings.tabTitle1 }}</div>
              </span>
              <span class="tab sec_tab">
                <div class="tab_name">{{ section.settings.tabTitle2 }}</div>
              </span>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

            <style type="text/css">
              @media print {
                * {
                  -webkit-print-color-adjust: exact !important;
                  color-adjust: exact !important;
                }

                .form-section {
                  display: inline !important
                }

                .form-pagebreak {
                  display: none !important
                }

                .form-section-closed {
                  height: auto !important
                }

                .page-section {
                  position: initial !important
                }
              }
            </style>
            <link
              type="text/css"
              rel="stylesheet"
              href="https://cdn02.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.57597"
            >
            <link
              type="text/css"
              rel="stylesheet"
              href="https://cdn03.jotfor.ms/css/styles/payment/payment_styles.css?3.3.57597"
            >
            <link
              type="text/css"
              rel="stylesheet"
              href="https://cdn01.jotfor.ms/css/styles/payment/payment_feature.css?3.3.57597"
            >

            <style type="text/css" id="form-designer-style"></style>

            <form class="jotform-form">
              <input type="hidden" name="bgurl" id="bgurl">
              <input type="hidden" name="logourl" id="logourl">
              <input type="hidden" name="submissionid" id="submissionid">
              <input type="hidden" name="source" id="source">
              <input type="hidden" name="field" id="field">
              <input type="hidden" name="gclid" id="gclid">
              <input type="hidden" name="fbclid" id="fbclid">

              <div role="main" class="form-all">
                <ul class="form-section page-section step-1" date-step="1">
                  <li class="form-line" data-type="control_fileupload" id="id_3">
                    <div class="title-form-step">
                      {{ section.settings.tabContent1 }}
                      <ul>
                        {% if section.settings.MainList != blank %}
                          {{ section.settings.MainList }}
                        {% endif %}
                      </ul>
                    </div>
                    <div id="cid_3" class="form-input-wide drag-drop-area">
                      <div class="jfUpload-wrapper">
                        <div class="jfUpload-button-container">
                          <input type="file" name="logo" id="fileInput" accept=".jpg, .jpeg, .png, .svg, .eps, .pdf, .ai, .heic, .psd, .webp">
                          <div class="jfUpload-button">
                            <div class="jfUpload-heading forDesktop">{{ section.settings.uploadContent }}</div>
                            <div class="jfUpload-heading forMobile">{{ section.settings.uploadContent }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div  class="file-types">{{ section.settings.validfiles }}: JPG, JPEG, PNG, EPS, PDF, AI, SVG, HEIC, WEBP, PSD</div>
                    <div class="file-required">{{ section.settings.required }}*</div>
                  </li>

                  <li id="file-preview"></li>
                  <li id="cid_11" class="form-input-wide" data-type="control_pagebreak">
                    <div class="form-pagebreak" data-component="pagebreak">
                      <div class="form-pagebreak-next-container">
                        <button
                          id="form-pagebreak-next_11"
                          type="button"
                          aria-required="true"
                          class="form-pagebreak-next  jf-form-buttons"
                          data-component="pagebreak-next"
                        >
                          {{ section.settings.Button1 }}
                        </button>
                      </div>
                    </div>
                  </li>
                  <div class="client-review">
                    <div class="star-svg">
                      <svg width="94" height="18" viewBox="0 0 94 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.04195 17.34L5.18195 10.98L0.0219532 7.52H6.34195L8.60195 0.699999L10.902 7.52H17.182L12.022 10.98L14.202 17.34L8.60195 13.28L3.04195 17.34ZM22.2412 17.34L24.3812 10.98L19.2212 7.52H25.5412L27.8012 0.699999L30.1012 7.52H36.3812L31.2212 10.98L33.4012 17.34L27.8012 13.28L22.2412 17.34ZM41.4404 17.34L43.5804 10.98L38.4204 7.52H44.7404L47.0004 0.699999L49.3004 7.52H55.5804L50.4204 10.98L52.6004 17.34L47.0004 13.28L41.4404 17.34ZM60.6396 17.34L62.7796 10.98L57.6196 7.52H63.9396L66.1996 0.699999L68.4996 7.52H74.7796L69.6196 10.98L71.7996 17.34L66.1996 13.28L60.6396 17.34ZM79.8388 17.34L81.9788 10.98L76.8188 7.52H83.1388L85.3988 0.699999L87.6988 7.52H93.9788L88.8188 10.98L90.9988 17.34L85.3988 13.28L79.8388 17.34Z" fill="#FFBB0E"></path>
                      </svg>
                    </div>
                    <div class="star-rating">
                      {{ section.settings.customer_review }}
                    </div>
                  </div>
                </ul>
                <ul class="form-section page-section step-2" date-step="2" style="display:none;">
                  {{ section.settings.FormHeading }}
                  <li class="form-line" data-type="control_textbox" id="id_4">
                    <label
                      class="form-label form-label-top form-label-auto"
                      id="label_4"
                      for="input_4"
                      aria-hidden="false"
                    >
                      {{ section.settings.inputlable1 }}
                      <sub>*</sub>
                      <span class="required-field">{{ section.settings.required }}*</span>
                    </label>
                    <div id="cid_4" class="form-input-wide">
                      <input
                        type="text"
                        id="input_4"
                        name="q4_typeA"
                        class="form-textbox"
                        size="310"
                        placeholder="{{ section.settings.inputplaceholder1 }}"
                      >
                    </div>
                  </li>
                  <li class="form-line" data-type="control_email" id="id_5">
                    <label
                      class="form-label form-label-top form-label-auto"
                      id="label_5"
                      for="input_5"
                      aria-hidden="false"
                    >
                      {{ section.settings.inputlable2 }}
                      <sub>*</sub>
                      <span class="required-field">{{ section.settings.required }}*</span>
                      <span class="email-error">{{ section.settings.emailformat }}*</span>
                    </label>
                    <div id="cid_5" class="form-input-wide">
                      <span
                        class="form-sub-label-container"
                        style="vertical-align:top"
                        ><input
                          type="email"
                          id="input_5"
                          name="q5_email"
                          class="form-textbox validate[Email]"
                          autoComplete="section-input_5 email"
                          size="310"
                          placeholder="{{ section.settings.inputplaceholder2 }}"
                      ></span>
                    </div>
                  </li>
                  <li class="form-line" data-type="control_phone" id="id_6" data-compound-hint="telefoon">
                    <label
                      class="form-label form-label-top form-label-auto"
                      id="label_6"
                      for="input_6_full"
                    >
                      {{ section.settings.inputlable3 }}
                      <sub>*</sub>
                      <span class="required-field">{{ section.settings.required }}*</span>
                      <span class="phone-error">{{ section.settings.phoneformat }}*</span>
                    </label>
                    <div id="cid_6" class="form-input-wide">
                      <div
                        class="form-sub-label-container"
                        style="vertical-align:top"
                      >
                        <input
                          type="tel"
                          id="input_6_full"
                          name="q6_phoneNumber[full]"
                          class="mask-phone-number form-textbox validate[Fill Mask]"
                          placeholder="{{  section.settings.inputplaceholder3 }}"
                        >
                      </div>
                    </div>
                  </li>
                  <li id="cid_12" class="form-input-wide" data-type="control_pagebreak">
                    <div class="form-pagebreak" data-component="pagebreak">
                      <div class="form-pagebreak-next-container">
                        <button
                          id="form-pagebreak-next_12"
                          type="button"
                          class="form-pagebreak-next  jf-form-buttons q23232"
                          data-component="pagebreak-next"
                        >
                          {{ section.settings.ButtonTextForm }}
                        </button>
                      </div>
                    </div>
                    <div class="term-condition">
                      <input type="checkbox" name="terms" id="terms" checked>
                      <p>{{ section.settings.terms }}</p>
                    </div>
                  </li>
                </ul>
                <ul class="form-section page-section step-3" date-step="3" style="display:none;">
                  <li class="mt-0">
                    <div class="title_box">
                      <h2>{{ section.settings.freeSample }}</h2>
                      <p>{{ section.settings.freeSampleDesc }}</p>
                    </div>
                  </li>

                  {% for block in section.blocks %}
                    {% if block.type == 'tab' %}
                      <li
                        class="form-line box_inner radio_box"
                        id="id_7{{ forloop.index }}"
                        step-data-index="{{ forloop.index }}"
                        {% if forloop.index == 2 %}
                          style="display:none;"
                        {% endif %}
                      >
                        <label class="form-label-title" id="label_7{{ forloop.index }}">
                          {{- block.settings.tab_title -}}
                        </label>
                        <div id="cid_7{{ forloop.index }}" class="form-input-wide">
                          <div class="form-multiple-column" role="group" aria-labelledby="label_7{{ forloop.index }}">
                            {% assign tabbuttons = block.settings.tab_buttons | split: ',' %}
                            {% for tabbutton in tabbuttons %}
                              <span class="form-radio-item">
                                <label class="form-radio-item-label">{{ tabbutton }}</label>
                              </span>
                            {% endfor %}
                          </div>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <ul class="form-section page-section step-4" date-step="4" style="display:none;">
                  <li class="form-line" id="id_13">
                    <div class="title_box">
                      <h2>{{ section.settings.freeSample }}</h2>
                      <p>{{ section.settings.freeSampleDesc }}</p>
                    </div>
                    <div id="cid_13" class="form-input-wide box_inner" data-layout="full">
                      {{ section.settings.freeSampleFormDescription }}
                      <div class="jfUpload-wrapper">
                        <div class="jfUpload-button-container">
                          <input type="file" name="bglogo" id="bgfileInput" accept=".jpg, .jpeg, .png, .svg, .eps, .pdf, .ai, .heic, .psd, .webp">
                          <div class="jfUpload-button">
                            <div class="jfUpload-heading forDesktop">{{ section.settings.uploadContent2 }}</div>
                            <div class="jfUpload-heading forMobile">{{ section.settings.uploadContent2 }}</div>
                          </div>
                        </div>
                      </div>
                       <div  class="file-types">{{ section.settings.validfiles }}: JPG, JPEG, PNG, EPS, PDF, AI, SVG, HEIC, WEBP, PSD</div>
                      <div class="bg-file-required">{{ section.settings.required }}*</div>
                      <div id="bg-file-preview"></div>

                      <div class="form-pagebreak" data-component="pagebreak">
                        <div class="form-pagebreak-next-container">
                          <button
                            id="form-pagebreak-next_14"
                            type="button"
                            class="form-pagebreak-next  jf-form-buttons"
                            data-component="pagebreak-next"
                          >
                            {{ section.settings.uploadPhotobuttonfree }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li id="cid_14" class="form-input-wide bg-1" data-type="control_pagebreak">
                    <div class="form-pagebreak" data-component="pagebreak">
                      <div class="skip-text">{{ section.settings.skip }}</div>
                    </div>
                  </li>
                </ul>

                <ul class="form-section page-section step-5" date-step="5" style="display:none;">
                  <li class="mt-0">
                    <div class="title_box">
                      <h2>{{ section.settings.freeSample }}</h2>
                      <p>{{ section.settings.freeSampleDesc }}</p>
                    </div>
                  </li>

                  <li class="form-line" data-type="control_textarea" id="id_9">
                    <div class="main-section-threee-image youtube-video-and-images lead-page">
                      <div class="wrap-sec-images">
                        <div class="col-md-12">
                          <div class="image-wrapper">
                            {% for block in section.blocks %}
                              {% if block.type == 'Image' %}
                                <div class="img-box">
                                  <img
                                    class="img-fluid"
                                    src="{{ block.settings.img-card | img_url:'master' }}"
                                    alt="Image"
                                  >
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </form>

            <div class="timer_box">
              {{ section.settings.formButtonQoute }}
            </div>
          </div>
          <div class="arrive_text">
            <span>
              {{ section.settings.QouteText }}
              <span class="del-on-t"></span>
              {% assign current_date = 'now' | date: '%d' %}
              {% assign current_month = 'now' | date: '%B' %}
              {% assign current_year = 'now' | date: '%Y' %}
              {% assign current_timestamp = current_year
                | append: '-'
                | append: current_month
                | append: '-'
                | append: current_date
                | date: '%s'
              %}
              {% assign new_timestamp = current_timestamp | plus: 777600 %}
              {% assign new_date = new_timestamp | date: '%d' %}
              {% assign new_month = new_timestamp | date: '%B' %}
              {% assign formatted_delivery_date = section.settings.delivery_date
                | replace: '{day}', new_date
                | replace: '{month}', new_month
              %}
              <b>{{ formatted_delivery_date }}</b>.
              <div>{{ section.settings.timer_text }}</div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if template == 'product.lead_page_logo_upload' %}
  <style>
    section.section.image-with-text-sale-page.image_text_sec{background: white;}
    .img-card-custom-form.section{background: white;}
    .custom_steps_form{background: white; padding: 15px 0 60px;}
    .logo-list-section{background: white;}
    .step_form_inner .form-input-wide h4{
      font-size: 18px;
      font-weight: 700;
      max-width: 100%;
      line-height: 23px;
      margin-bottom: 16px;
    }
  </style>
{% endif %}
<script>
    $(document).ready(function () {
    const dropArea = $('#cid_3');
    const fileInput = $('[name="logo"]');

    // Highlight area when file is dragged over
    dropArea.on('dragover', function (event) {
        event.preventDefault(); // Prevent default behavior
        event.stopPropagation();
        $(this).addClass('drag-over'); // Add CSS class for styling
    });

    // Remove highlight when dragging out
    dropArea.on('dragleave', function (event) {
        event.preventDefault();
        event.stopPropagation();
        $(this).removeClass('drag-over');
    });

    // Handle file drop
    dropArea.on('drop', function (event) {
        event.preventDefault();
        event.stopPropagation();
        $(this).removeClass('drag-over');

        let files = event.originalEvent.dataTransfer.files;
        if (files.length > 0) {
            fileInput[0].files = files; // Assign files to input
            console.log('Files dropped:', files);
            handleFilePreview(files[0]);
        }
    });

    // Click event to open file input
    dropArea.on('click', function (event) {
      event.stopImmediatePropagation(); // Prevents duplicate event firing
    
    if (!fileInput.data('clicked')) {
      fileInput.data('clicked', true); // Mark as clicked
      fileInput.trigger('click');
        
        setTimeout(() => {
          fileInput.removeData('clicked'); // Reset flag after some time
        }, 500);
    }
    });

    // Handle file selection from input
    fileInput.change(function () {
        console.log('File selected:', this.files[0]);
        handleFilePreview(this.files[0]);
    });
});

function handleFilePreview(file) {
    const previewContainer = $('#file-preview');
    const reader = new FileReader();
    
    reader.onload = function (e) {
        const fileSize = (file.size / 1024).toFixed(2) + " KB"; // Convert to KB
        let html = '';

        if (file.type.startsWith('image/')) {
            // If it's an image, display it
            html = `
                <div class="file-preview-item bg-file-preview-item">
                    <div class="image-with-title">
                        <img src="${e.target.result}" alt="${file.name}" class="file-preview-image" style="max-width: 25px; max-height: 25px;">
                        <p>${file.name} (${fileSize})</p>
                    </div>
                    <p class="delete-element"></p>
                </div>
            `;
        } else if (file.type === "application/pdf") {
            // If it's a PDF, use an icon or embed viewer
            html = `
                <div class="file-preview-item bg-file-preview-item">
                    <div class="image-with-title">
                        <img src="https://cdn.shopify.com/s/files/1/0779/7686/3066/files/81975517a51651e8f8940759360d01da.jpg?v=1743361832" alt="PDF" class="file-preview-image" style="max-width: 25px; max-height: 25px;">
                        <p>${file.name} (${fileSize})</p>
                    </div>
                    <p class="delete-element"></p>
                </div>
            `;
        } else {
            html = `<p>Unsupported file type</p>`;
        }

        previewContainer.html(html);
    };

    if (file.type.startsWith('image/') || file.type === "application/pdf") {
        reader.readAsDataURL(file);
    }
}
</script>

<script>
  $(document).ready(function () {
  const dropArea = $('#cid_13 .jfUpload-wrapper');
  const bgfileInput = $('[name="bglogo"]');

  // Highlight area when file is dragged over
  dropArea.on('dragover', function (event) {
      event.preventDefault(); // Prevent default behavior
      event.stopPropagation();
      $(this).addClass('drag-over'); // Add CSS class for styling
  });

  // Remove highlight when dragging out
  dropArea.on('dragleave', function (event) {
      event.preventDefault();
      event.stopPropagation();
      $(this).removeClass('drag-over');
  });

  // Handle file drop
  dropArea.on('drop', function (event) {
      event.preventDefault();
      event.stopPropagation();
      $(this).removeClass('drag-over');

      let files = event.originalEvent.dataTransfer.files;
      if (files.length > 0) {
        bgfileInput[0].files = files; // Assign files to input
          console.log('Files dropped:', files);
          handleFilePreview(files[0]);
      }
  });

  // Click event to open file input
  dropArea.on('click', function (event) {
    event.stopImmediatePropagation(); // Prevents duplicate event firing
  
  if (!bgfileInput.data('clicked')) {
    bgfileInput.data('clicked', true); // Mark as clicked
    bgfileInput.trigger('click');
      
      setTimeout(() => {
        bgfileInput.removeData('clicked'); // Reset flag after some time
      }, 500);
  }
  });

  // Handle file selection from input
  bgfileInput.change(function () {
      console.log('File selected:', this.files[0]);
      bgHandleFilePreview(this.files[0]);
  });

  ///////////// getting gclid

  function getParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
  }

    const gclid = getParam('gclid');
    if (gclid) {
        $('#gclid').val(gclid);
    }

    const fbclid = getParam('fbclid');
    if (fbclid) {
        $('#fbclid').val(fbclid);
    }
    
    
});

function bgHandleFilePreview(file) {
    const previewContainer = $('#bg-file-preview');
    const reader = new FileReader();

    reader.onload = function (e) {
        const fileSize = (file.size / 1024).toFixed(2) + " KB"; // Convert to KB
        let html = '';

        if (file.type.startsWith('image/')) {
            // If it's an image, display it
            html = `
                <div class="file-preview-item bg-file-preview-item">
                    <div class="image-with-title">
                        <img src="${e.target.result}" alt="${file.name}" class="file-preview-image" style="max-width: 25px; max-height: 25px;">
                        <p>${file.name} (${fileSize})</p>
                    </div>
                    <p class="bg-delete-element"></p>
                </div>
            `;
        } else if (file.type === "application/pdf") {
            // If it's a PDF, use an icon or embed viewer
            html = `
                <div class="file-preview-item bg-file-preview-item">
                    <div class="image-with-title">
                        <img src="https://cdn.shopify.com/s/files/1/0779/7686/3066/files/81975517a51651e8f8940759360d01da.jpg?v=1743361832" alt="PDF" class="file-preview-image" style="max-width: 25px; max-height: 25px;">
                        <p>${file.name} (${fileSize})</p>
                    </div>
                    <p class="bg-delete-element"></p>
                </div>
            `;
        } else {
            html = `<p>Unsupported file type</p>`;
        }

        previewContainer.html(html);
    };

    if (file.type.startsWith('image/') || file.type === "application/pdf") {
        reader.readAsDataURL(file);
    }
}
</script>

<script>

    setTimeout(function(){
      const video2 = document.querySelector('.img-fluid');
      if (video2) {
       video2.play().catch(error => { 
        console.error('Autoplay failed:', error);
    });
    }
    },2000);
    $('[name="logo"]').on('click', function(event) {
    console.log('Logo input clicked');
  });
  
  $('body').on('click', '.bg-delete-element', function() {
    $('#bgfileInput').val('');
    $('.bg-file-preview-item').remove();
  });
  $('body').on('click', '.delete-element', function() {
    $('#fileInput').val('');
    $('.file-preview-item').remove();
  });
    $('#cid_3 .jfUpload-button-container').click(function(event) {
        event.stopImmediatePropagation(); // Prevents duplicate event firing
        const logoInput = $('[name="logo"]');
        
        if (!logoInput.data('clicked')) {
            logoInput.data('clicked', true); // Mark as clicked
            logoInput.trigger('click');
            
            setTimeout(() => {
                logoInput.removeData('clicked'); // Reset flag after some time
            }, 500);
        }
    });

    $('#cid_13 .jfUpload-button-container').click(function(event) {
        event.stopImmediatePropagation(); // Prevents duplicate event firing
        const logoInput = $('[name="bglogo"]');
        
        if (!logoInput.data('clicked')) {
            logoInput.data('clicked', true); // Mark as clicked
            logoInput.trigger('click');
            
            setTimeout(() => {
                logoInput.removeData('clicked'); // Reset flag after some time
            }, 500);
        }
    });

    document.querySelector('.first_tab').addEventListener('click', function () {
      $('.step-1').show();
      $('.step-2').hide();
    });

    // moving to step 4 from 3

    $('.form-radio-item-label').click(function(){
      var _step = $(this).parents('li.radio_box').attr('step-data-index');
      console.log('3rd step');
      if(_step == 1){
      $('#field').val($(this).text());
      $(this).parents('li.radio_box').hide();
      $('li.radio_box[step-data-index="2"]').show();
      } else {
      $('#source').val($(this).text());
      $('.step-3').hide();
      $('.step-4').show();
      }
      addRecord();
    });

    // moving to step 5 from 4, the last step
    $('.skip-text').click(function(){
      $('.step-4').hide();
      $('.step-5').show();
      startCountdown();
      webhookCall('{{ section.settings.webhook2 }}'); ///webhook 2
      
    });
    document.getElementById("form-pagebreak-next_14").addEventListener("click", function () {
      const fileInput = document.getElementById('bgfileInput');
      if(fileInput.files[0]){
        $('.bg-file-required').removeClass('show');
      console.log('abc');
      document.querySelector(".step_form_row").classList.add('right_image_bg', 'last-step');
      $('.step-4').hide();
      $('.step-5').show();
        const file = fileInput.files[0];
        upload_image(file, 'bgurl');
        startCountdown();
      } else {
        $('.bg-file-required').addClass('show');
        $('#cid_13 .jfUpload-wrapper').css('border-color', 'red');
        $('#cid_13 .jfUpload-button .jfUpload-heading').addClass('color');
      }
    });

    document.addEventListener("DOMContentLoaded", function () {
    var input = document.querySelector("#input_6_full");
      var preferredCountries = "{{ section.settings.preferred_countries }}".split(',');

        var iti = window.intlTelInput(input, {
          initialCountry: "{{ section.settings.defaultcountry }}",
          separateDialCode: true,
          preferredCountries: preferredCountries,
          geoIpLookup: function (callback) {
              fetch("https://ipapi.co/json")
                  .then(response => response.json())
                  .then(data => callback(data.country_code.toLowerCase()))
                  .catch(() => callback("{{ section.settings.defaultcountry }}"));
          },
          utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.19/build/js/utils.js",
      });
      window.iti = iti;
    // moving to step 3 from 2
    document.getElementById('form-pagebreak-next_12').addEventListener('click', function () {
    let allFilled = true;
    let emailValid = true;
    let phoneValid = true;

    var countryData = iti.getSelectedCountryData();
    $('.step-2 input[type="text"], .step-2 input[type="email"], .step-2 input[type="tel"]').each(function() {
        if ($(this).val().trim() == "") {
            console.log('empty');
            $(this).addClass('borderissue');
            $(this).parents('li').find('.email-error').removeClass('show');
            $(this).parents('li').find('.required-field').addClass('show');
            allFilled = false;
        } else {
            $(this).removeClass('borderissue');
            $(this).parents('li').find('.required-field').removeClass('show');
        }

        if ($(this).attr('type') === 'tel' && $(this).val().trim() !== "") {

        if(iti.isValidNumber() == false){
             $(this).parents('li').find('.phone-error').addClass('show');
             phoneValid = false;
          } else{
            $(this).parents('li').find('.phone-error').removeClass('show');
          }
        }
        // Email validation
        if ($(this).attr('type') === 'email' && $(this).val().trim() !== "") {
            let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test($(this).val().trim())) {
                $(this).addClass('borderissue');
                $(this).parents('li').find('.email-error').addClass('show');
                emailValid = false;
            } else {
                $(this).removeClass('borderissue');
                $(this).parents('li').find('.email-error').removeClass('show');
            }
        }
    });

    if (allFilled && emailValid && phoneValid) {
      var _terms = $('[name="terms"]').prop('checked');
      if(_terms == true){
          window.dataLayer.push({
            'event': 'jot_form_submit',
            'formId': "{{ section.settings.formid }}",
          });
        
        document.querySelector(".step_form_row").classList.add('swap_sec');
        // document.querySelector(".request_qu").classList.add('swap_sec2');
        document.querySelector(".custom_steps_form").classList.add('swap_sec_padding');
        document.querySelector("body").classList.add('swap_sec_body');
        $('.step-2').hide();
        $('.step-3').show();
        addRecord('{{ section.settings.webhook1 }}'); ///webhook 1
        } else {
          alert('{{ section.settings.terms_error }}');
        }
    }
});
});


    // moving to step 2 from 1
  
    document.getElementById("form-pagebreak-next_11").addEventListener("click", async function () {
      const fileInput = document.getElementById('fileInput');
      if(fileInput.files[0]){
      $('.file-required').removeClass('show'); 
      document.querySelector(".tab").classList.remove('active');
      document.querySelector(".sec_tab").classList.add('active');
      $('.step-1').hide();
      $('.step-2').show();
      const file = fileInput.files[0];
      await submissionStart(file);
      } else {
        console.log('logo required');
        $('#cid_3 .jfUpload-wrapper').css('border-color', 'red');
        $('#cid_3 .jfUpload-button .jfUpload-heading').addClass('color');
        $('.file-required').addClass('show');
      }
    });

    async function submissionStart(file){
      if($('#submissionid').val() == ''){
        const formID = "{{ section.settings.formid }}";
        const apiKey = 'd37f98d2a7a2cc702737ef0d068321df';
        const submissionData = {
            "submission": {
                "name": "John Doe",
                "email": "example@example.com"
            }
        };

        fetch(`https://api.jotform.com/form/${formID}/submissions?apiKey=${apiKey}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(submissionData)
        })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          if (data.content && data.content.submissionID) {
              const submissionID = data.content.submissionID;
              document.getElementById("submissionid").value = submissionID;
              upload_image(file, 'logourl');
          }
        })
        .catch(error => console.error("Error:", error));
      } else {
        upload_image(file, 'logourl');
      }
    }

  function webhookCall(url){
      const formData = new FormData();
      var _submissionID = $('#submissionid').val();
      var _email = $('#input_5').val();
      var _name = $('#input_4').val();
      var _logo = $('#logourl').val();
      var _phone = "+"+iti.getSelectedCountryData().dialCode+$('#input_6_full').val();
      var _bgurl = $('#bgurl').val();
      var _source = $('#source').val();
      var _field = $('#field').val();
    
    
      var _url = url+'?SubmissionID='+_submissionID+'&Email='+_email+'&Name='+_name+'&PhoneNumber='+_phone+'&Logo='+_logo+'&Source='+_source+'&Place='+_field+'&Background='+_bgurl;
        $.ajax({
            url: _url,
            type: "POST",
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            success: function(response) {
              console.log(response);
            },
            error: function(err) {
                console.error(err);
            }
        });
  }
    async function addRecord(optionalUrl){
      const formData = new FormData();
      var _phone = "+"+iti.getSelectedCountryData().dialCode+$('#input_6_full').val();
      var SUBMISSION_ID = $('#submissionid').val();
      formData.append("submission[3][first]", $('#input_4').val());  
      formData.append("submission[3][last]", "");
      formData.append("submission[4]", $('#input_5').val()); // Email
      formData.append("submission[5]", _phone); // Phone
      formData.append("submission[6]", $('#logourl').val()); // file
      formData.append("submission[7]", $('#bgurl').val()); // file
      formData.append("submission[8]", $('#source').val()); // source
      formData.append("submission[9]", $('#field').val()); // field
      formData.append("submission[10]", $('#gclid').val()); // gclid
      formData.append("submission[11]", $('#fbclid').val()); // fbclid
      

      try {
          const response = await fetch(
            `https://api.jotform.com/submission/${SUBMISSION_ID}?apiKey=d37f98d2a7a2cc702737ef0d068321df`,
              {
                  method: "POST",
                  body: formData
              }
          );

          const result = await response.json();
          console.log("Submission Response:", result);
          if (typeof optionalUrl !== "undefined") {
            webhookCall(optionalUrl)
          }
      } catch (error) {
          console.error("Error submitting form data:", error);
      }
    }
    async function upload_image(file, id){
      const formData = new FormData();
      formData.append("upload_preset", "neon_unsigned_preset")
      formData.append('file', file);

        $.ajax({
            url: "https://api.cloudinary.com/v1_1/dz5h9zbom/image/upload",
            type: "POST",
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            success: function(response) {
              console.log(response); 
              console.log('Uploaded URL:', response.secure_url); 
              $('#'+id).val(response.secure_url);
                if (id == "bgurl") {
                    addRecord('{{ section.settings.webhook2 }}'); 
                } else {
                    addRecord();
                  }
            },
            error: function(err) {
                $("#status").text("Upload failed.");
                console.error(err);
            }
        });
    }
  
    document.querySelector('.timer_box a').addEventListener('click', function (event) {
      event.preventDefault();
  
      var timerBox = document.querySelector('.timer_box');
      timerBox.style.backgroundImage = 'none';
    });

    // 3rd screen timer
    function startCountdown() {
      console.log('timer');
      const timerElement = document.getElementById("timer");
      let hours = 3;
      let minutes = 0;
      let seconds = 0;
  
      const intervalId = setInterval(() => {
        seconds--;
        if (seconds < 0) {
          seconds = 59;
          minutes--;
        }
        if (minutes < 0) {
          minutes = 59;
          hours--;
        }
  
        const formattedTime = `${hours.toString()}:${minutes.toString().padStart(2, "0")}`;
        timerElement.textContent = formattedTime;
  
        if (hours === 0 && minutes === 0) {
          clearInterval(intervalId);
        }
      }, 1000);
    }
</script>
<script>
    // first screen timer
  function newCountdown() {
  const timerElementnew = document.getElementById("new_timer");

  // Get the current time
  const now = new Date();

  // Calculate the time remaining until midnight
  const endOfDay = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1, 0, 0, 0);
  let timeRemaining = Math.floor((endOfDay.getTime() - now.getTime()) / 1000); // Remaining time in seconds

  // Function to format the remaining time as HH:MM:SS
  function formatTime(seconds) {
    const hours = Math.floor(seconds / 3600);
    const minutes = Math.floor((seconds % 3600) / 60);
    const secondsRemaining = seconds % 60;
    return `${hours.toString().padStart(2, "0")}:${minutes.toString().padStart(2, "0")}:${secondsRemaining.toString().padStart(2, "0")}`;
  }

  // Update the countdown every second
  const intervalIdnew = setInterval(() => {
    if (timeRemaining > 0) {
      timerElementnew.textContent = formatTime(timeRemaining);
      timeRemaining--;
    } else {
      clearInterval(intervalIdnew); // Stop the interval when time runs out
      timerElementnew.textContent = "00:00:00"; // Display zero when the countdown ends
    }
  }, 1000);

  // Display the initial time immediately
  timerElementnew.textContent = formatTime(timeRemaining);
}

// Start the countdown
newCountdown();
</script>

{% schema %}
{
"name": "Custom Steps Form",
"settings": [
  {
  "type": "text",
  "id": "formid",
  "label": "Form ID",
  "default":"250745462288060"
  },
  {
  "type": "text",
  "id": "webhook1",
  "label": "Webhook 1",
  "default":"https://hook.eu1.make.com/902w45w0qi3cgwmwnbs449wpe6r64fmh"
  },
  {
  "type": "text",
  "id": "webhook2",
  "label": "Webhook 2",
  "default":"https://hook.eu1.make.com/7wngere2qtprr7t16kwi68clbr56o8ly"
  },
  {
  "type": "text",
  "id": "sectionTitle",
  "label": "Section Title",
  "default":"Offerte aanvragen"
  },
  {
  "type": "text",
  "id": "validfiles",
  "label": "File Type Text",
  "default":"Valid File Types"
  },
  {
  "type": "text",
  "id": "required",
  "label": "Required Text",
  "default":"This field is required"
  },
  {
  "type": "text",
  "id": "emailformat",
  "label": "Email Format Error",
  "default":"Please enter correct email"
  },
  {
  "type": "text",
  "id": "phoneformat",
  "label": "Phone Format Error",
  "default":"Phone no isn't correct"
  },
  {
  "type": "text",
  "id": "terms",
  "label": "Terms & Conditions",
  "default":"By submitting, you agree to Neonsfeer’s terms and conditions."
  },
  {
  "type": "text",
  "id": "terms_error",
  "label": "Terms & Conditions Error",
  "default":"Please Agree to Term & Conditions"
  },
  {
  "type": "text",
  "id": "defaultcountry",
  "label": "Default Country",
  "default":"us"
  },
  {
  "type": "text",
  "id": "preferred_countries",
  "label": "Preferred Countries (comma-separated, e.g. us,gb,ca,nz)",
  "default": "us,gb,ca,nz"
},
  {
  "type": "text",
  "id": "skip",
  "label": "Skip Text",
  "default":"Continue without own background"
  },
  {
  "type": "html",
  "id": "MainList",
  "label": "Breadcrumbs Html",
  "default":"<li>Ontvang <strong>gratis ontwerp</strong></li><li>Binnen <strong>3 uur</strong> in je mailbox</li><li>Binnen <strong>6 werkdagen geleverd</strong></li>"
  },
  {
  "type":"url",
  "id":"Video_url",
  "label":"Video link"
  },
  {
  "type": "header",
  "content": "Tab 1 content"
  },
  {
    "type": "text",
    "id": "tabTitle1",
    "label": "Tab Title 1",
    "default":"1. Upload je logo"
  },

  {
    "type": "html",
    "id": "tabContent1",
    "label": "Tab content",
    "default":"<h2>Ontvang een offerte <br>en een gratis voorbeeld ontwerp</h2>"

  },
  {
    "type": "text",
    "id": "uploadContent",
    "label": "Upload content",
    "default":"Choose a file" 
  },
  {
    "type": "text",
    "id": "uploadContent2",
    "label": "Upload content step 6",
    "default":"Choose a file"
  },
  {
    "type": "text",
    "id": "Button1",
    "label": "Button Text",
    "default":"Voltooi aanvraag"
  },
  {
    "type": "html",
    "id": "QouteText",
    "label": "Qoute Text",
    "default":"Upload today and receive your logo on . Still <b id='new_timer'>07:13:18</b> geldig."
  },
  {
  "type": "html",
  "id": "timer_text",
  "label": "Timer Text",
  "default": "Still <b id='new_timer'>00:00:00</b> valid."
},
  {
    "type": "html",
    "id": "customer_review",
    "label": "Customer Review",
    "default":"<p>Rated <b>4.8/5</b> 1,000+ happy customer</p>"
  },
  {
  "type": "text",
  "id": "delivery_date",
  "label": "Delivery Date"
  },
  {
  "type": "header",
  "content": "Tab 2 content"
  },
  {
    "type": "text",
    "id": "tabTitle2",
    "label": "Tab Title 2",
    "default":"2. Je gegevens"
  },
  {
    "type": "html",
    "id": "FormHeading",
    "label": "Form Heading",
    "default":"<h2>Bijna klaar!<br> Vul je gegevens in </h2>"
  },
  {
    "type": "text",
    "id": "inputlable1",
    "label": "Name Input",
    "default":"Name"
  },
  {
    "type": "text",
    "id": "inputplaceholder1",
    "label": "Name placeholder",
    "default":"Bijv. Anja"

  },
  {
    "type": "text",
    "id": "inputlable2",
    "label": "Email Input",
    "default":"E-mailadres"

  },
  {
    "type": "text",
    "id": "inputplaceholder2",
    "label": "Email placeholder",
    "default":"Bijv. joost@bb.nl"

  },
  {
    "type": "text",
    "id": "inputlable3",
    "label": "Telephone Input",
    "default":"Telefoonnummer"

  },
  {
    "type": "text",
    "id": "inputplaceholder3",
    "label": "Telepone placeholder",
    "default":"telefoon"

  },
  {
    "type": "text",
    "id": "ButtonTextForm",
    "label": "Form button Text",
    "default":"Send and receive quote within 3 hours!"
  },
  {
    "type": "text",
    "id": "freeSample",
    "label": "Free Sample Text",
    "default":"Jouw gratis voorbeeld wordt voorbereid"
  },
  {
    "type": "text",
    "id": "freeSampleDesc",
    "label": "Free Sample Description",
    "default":"Zodra het logo klaar is, verschijnt hier een voorbeeld. Bekijk intussen enkele voorbeelden of scroll verder voor FAQ’s en inspiratie!"
  },
  {
    "type": "html",
    "id": "freeSampleFormDescription",
    "label": "Free Sample form Description",
    "default":"<h4>Beter voorbeeld? Upload een foto van je muur!</h4> <ul> <li>Ontvang een definitieve offerte</li> <li>Jouw voorbeeld wordt gemaakt op je muurfoto</li> <li>We kunnen jouw prijs nog preciezer berekenen</li> </ul>"
  },
  {
    "type": "html",
    "id": "uploadPhotoFormfree",
    "label": "Free Sample upload photo Description",
    "default":"<div class='file_heading'>Upload foto</div> <label for='wall_image'>Drag and drop files here</label>"
  },
  {
    "type": "text",
    "id": "uploadPhotobuttonfree",
    "label": "Free Sample upload photo button Text",
    "default":"Voeg muur toe aan je voorbeeld"
  },
  {
    "type": "html",
    "id": "formButtonQoute",
    "label": "Form Quote Text",
    "default":"<div class='box_head'>Jouw voorbeeld verschijnt hier binnen:</div><div class='time'><span id='timer'>2:59</span> uur</div>"
  },
  {
    "type": "image_picker",
    "id": "formButtonQouteImage",
    "label": "TimerBox Background Image"
  },
  {
  "type": "header",
  "content": "Timer Content"
  },
  {
    "type": "html",
    "id": "timerHmtl",
    "label": "Timer arrive",
    "default":"Upload vandaag en ontvang je logo op 8 september Nog <b id='new_timer'>00:00:00</b> geldig."
  }
],
"blocks": [
  {
    "type": "tab",
    "name": "Tab",
    "limit": 2,
    "settings": [
      {
        "type": "text",
        "id": "tab_title",
        "label": "Tab Title",
        "default": "Tab Title"
      },
      {
        "type": "textarea",
        "id": "tab_buttons",
        "label": "Tab Buttons"
      }
   ]
  },
  {
     "type": "Image",
     "name": "Add Image",
     "limit": 4,
     "settings": [
       {
       "type":"image_picker",
       "id":"img-card",
       "label":"Add Image"
       }
     ]
   }
],
"presets": [{
"name": "Custom Steps Form",
"blocks": [
    {
      "type": "tab",
      "settings": {
        "tab_title": "What is Your Field",
        "tab_buttons": "Tech, Resturent",

      }
    },
    {
      "type": "tab",
      "settings": {
        "tab_title": "Help us! How did you find Neonsfeer?",
        "tab_buttons": "Facebook, Instagram, Linkdin, Youtube",
      }
    }
]
}]
}
{% endschema %}
