<link rel="stylesheet" href="{{ 'image-card-custom-form.css' | asset_url }}">

<div class="img-card-custom-form section {{ section.settings.add_class }}">
    <div class="container">
      <div class="custom-rev-head-flex">
        <h2 class="rev-head">{{ section.settings.title }}</h2>
        <div class="slider-toggle">
          <div class="buttons-slider-tg">
           <button class="custom-slide-arrows custom-prev-arrows">
              {% if template contains 'product.lead_page_' %}
              <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.13998 5.50882L2.11875 5.4875H2.14884H10.1879V4.5125H2.14884H2.11875L2.13998 4.49118L5.9131 0.702565L5.22095 0.0176493L0.258981 5L5.22095 9.98235L5.9131 9.29744L2.13998 5.50882Z" fill="#715AEF" stroke="black" stroke-width="0.025"/></svg>
              {% else %}
              <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg"><g><circle cx="21.98" cy="21" r="20.25" stroke="black" stroke-width="1.5"></circle><path d="M24.98 13L16.98 21L24.98 29" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path></g></svg>
              {% endif %}
              </button>
            <button class="custom-slide-arrows custom-next-arrows">
              {% if template contains 'product.lead_page_' %}
              <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.15433 5.50882L8.17556 5.4875H8.14547H0.106372V4.5125H8.14547H8.17556L8.15433 4.49118L4.38121 0.702565L5.07336 0.0176493L10.0353 5L5.07336 9.98235L4.38121 9.29744L8.15433 5.50882Z" fill="#715AEF" stroke="black" stroke-width="0.025"/></svg>
              {% else %}
              <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg"><g><circle cx="21.98" cy="21" r="20.25" transform="rotate(-180 21.98 21)" stroke="black" stroke-width="1.5"></circle><path d="M18.98 29L26.98 21L18.98 13" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path></g></svg>
              {% endif %}
              </button>  
          </div>
        </div>
      </div>  
      <div class="youtube-review-main-new zeekart">
        <div class="wrapper">
          {% for block in section.blocks %}
            <div class="imgcard-wrapper">
              <div class="img">
                <div class="number-wrapper">
                  {{ block.settings.number }}
                </div>
                {% if block.settings.video_url != blank %}
                  <video class="img-fluid" autoplay loop playsinline muted style="width: 100%;">
                    <source src="{{ block.settings.video_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                {% else %}
                  <img class="img-fluid" src="{{ block.settings.upload_image | img_url:'master' }}" alt="Image" >
                {% endif %}
              </div>
              <div class="info-wrapper">
                <h3>{{ block.settings.card_title }}</h3>
                <p>{{ block.settings.card_content }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div> 
      <div class="reputon-google-reviews-widget container" id="47782490-f962-11ec-9541-d3f22c760941"></div>
  </div>
  <style>
    .zeekart .info-wrapper span{color: #EC40A4;}
    .img-fluid{
      width: 100%;
      height: 185px;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
      position: relative;
      z-index: 1;
    }
  </style>
  <script>
  jQuery(document).ready(function($) {
    function initializeSlick() {
      if (window.innerWidth <= 991) {
        if (!$('.wrapper').hasClass('slick-initialized')) {
          $('.wrapper').slick({
            dots: true,
            centerMode: true,
            centerPadding: '40px',
            adaptiveHeight: false,
            arrows: true,
            speed: 300,
            autoplay: false,
            responsive: [
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }
            ]
          });
        }
      } else {
        if ($('.wrapper').hasClass('slick-initialized')) {
          $('.wrapper').slick('unslick');
        }
      }
    }
  
    initializeSlick();
    $(window).on('resize', function() {
      initializeSlick();
    });
  
    $(".img-card-custom-form .custom-rev-head-flex button.custom-slide-arrows.custom-next-arrows").on("click", function() {
      $(".youtube-review-main-new button.slick-next").trigger("click");
    });
    $(".img-card-custom-form .custom-rev-head-flex button.custom-slide-arrows.custom-prev-arrows").on("click", function() {
      $(".youtube-review-main-new button.slick-prev").trigger("click");
    });
  
    $('.wrapper').on('afterChange', function(event, slick, currentSlide, nextSlide) {
      if ($(".youtube-review-main-new button.slick-next").hasClass("slick-disabled")) {
        $(".img-card-custom-form .custom-rev-head-flex button.custom-slide-arrows.custom-next-arrows").addClass("slick-disabled");
        $(".img-card-custom-form .custom-rev-head-flex button.custom-slide-arrows.custom-prev-arrows").removeClass("slick-disabled");
      } else {
        $(".img-card-custom-form .custom-rev-head-flex button.custom-slide-arrows.custom-next-arrows").removeClass("slick-disabled");
      }
      if ($(".youtube-review-main-new button.slick-prev").hasClass("slick-disabled")) {
        $(".img-card-custom-form .custom-rev-head-flex button.custom-slide-arrows.custom-prev-arrows").addClass("slick-disabled");
        $(".img-card-custom-form .custom-rev-head-flex button.custom-slide-arrows.custom-next-arrows").removeClass("slick-disabled");
      } else {
        $(".img-card-custom-form .custom-rev-head-flex button.custom-slide-arrows.custom-prev-arrows").removeClass("slick-disabled");
      }
    });
  });
  </script>
  
  
  
  <style>
        .img-card-custom-form .slider-toggle {
      display: none !important;
    }
    .slick-list {
      padding-left: 0px!important;
  }
  .carousel-holder--2XSx7 {
      display: none;
  }
  .custom-google-section {
      background: #F7F4F1;
      padding: 70px 0px;
  }
  .wrapper button{
    opacity:0;
  }
    .wrapper .slick-track{
        display:flex;
        gap:10px;
    }
    .youtube-review-main-new iframe {
      width: 100% !important;
      height: 100% !important;
  }
  .review-image {
      text-align: center;
      display: flex;
      justify-content: center;
  }
  .wrapper .google-review .pro-image {
      height: 250px;
      object-fit: fill;
  }
  .youtube-review-main-new .google-review {
      height: 468px;
  }
  .google-review {
      border-radius: 10px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.03);
      overflow: hidden;
      background-color: #fff;
      height: auto;
      margin-bottom: 10px;
      display:-webkit-inline-box;
  }
  .google-reviews {
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 20px;
      columns: 4;
  }
  .customers-review {
      text-align: center;
      padding: 0px 23px 30px;
  }
  .customers-review > img {
      margin-top: -40px;
  }
  .customers-review.simple-user-review > img {
      margin-top: 0px;
  }
  .customers-review h2 {
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      color: #1F2430;
      display: flex;
      justify-content: center;
      column-gap: 5px;
      margin: 24px 0px 10px;
      align-items: center;
  }
  .customers-review > p {
      color: #1F2430;
      font-size: 14px;
      line-height: 20px;
      margin: 16px 0px 11px;
  }
  .customers-review h2 img {
      height: 20px;
      width: 20px;
  }
  .customers-review .google-upload-time {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
  }
  .customers-review .google-upload-time p {
      font-size: 12px;
      font-weight: 500;
      color: #363D41;
  }
  .customers-review.simple-user-review {
      padding-top: 30px;
  }
  
  .custom-google-section h1.custom-review-heading {
      text-align: center;
      color: #000;
      font-size: 32px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 15px;
  }
  .custom-google-section .custom-review-discription {
      color: #677279;
      text-align: center;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 50px;
  }
   
  @media(max-width:1199.98px){
  
  .google-reviews {
      columns: 3;
  }
  
  
  }
  @media(max-width:991.98px){
    .img-card-custom-form .info-wrapper {
      height: 230px;
  }
    .img-card-custom-form .slider-toggle {
      margin-bottom: 0;
  }
  .img-card-custom-form .wrapper .slick-list.draggable {
      padding: 40px 70px 0 0 !important;
  }
  
  .google-reviews {
      columns: 2;
  }
  
  }
  @media(max-width:767.98px){
  
  .google-reviews {
      columns: 1;
  }
  .img-card-custom-form .rev-head {
      width: 100% !important;
      margin-bottom: 20px;
  }
  .img-card-custom-form .rev-head img {
      display: none !important;
  } 
  .img-card-custom-form .slider-toggle {
      top: 0px;
  }
  .img-card-custom-form .slider-toggle button svg {
      width: 42px !important;
  }
    .wrapper .google-review .pro-image {
      height: 200px;
  }
   .wrapper .customers-review {
      text-align: center;
      padding: 0px 23px 0px;
  }
  }
    
  </style>
  
  
  {% schema %}
  {
    "name": "Image Card Custom Form",
    "settings": [
      {
        "type": "text",
        "id": "add_class",
        "label": "Add Class"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type":"range",
        "id":"slide_show",
        "min": 4,
        "max": 7,
        "default" : 4,
        "label":"Slide Show"
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "limit" : 4,
        "settings": [
          {
            "type": "textarea",
            "id": "number",
            "label": "Number",
            "info": "Upload SVG"
          },
          {
            "type": "image_picker",
            "id": "upload_image",
            "label": "Upload a image"
          },
          {
            "type": "html",
            "id": "card_title",
            "label": "Card Title"
          },
          {
            "type": "textarea",
            "id": "card_content",
            "label": "Card Content"
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "Background Video URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Card Custom Form",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  
  