<div class="video-and-text-section builder_USSS">
    <div class="inner-video-txt-c  container">
    <div class="video-text-header">
      {% if section.settings.link != blank %}
        <a class="button-link" href="{{ section.settings.link }}">
        <span>
          <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M32.4951 31.9907C32.3513 31.9907 32.2587 31.9907 32.1648 31.9907C26.95 31.9907 21.7339 32.012 16.5191 31.9832C12.5955 31.9619 9.1323 30.6296 6.15205 28.0888C3.39825 25.7407 1.59408 22.7895 0.858404 19.2392C0.0126221 15.1584 0.660721 11.2878 2.83523 7.72989C5.16113 3.92557 8.51673 1.44231 12.8758 0.445256C17.8766 -0.698166 22.4308 0.367694 26.4408 3.56152C29.4498 5.95971 31.3503 9.08598 32.1473 12.8528C32.3463 13.7935 32.4739 14.7668 32.4801 15.7263C32.5114 21.0556 32.4964 26.3849 32.4964 31.7142C32.4964 31.7956 32.4964 31.8756 32.4964 31.9895L32.4951 31.9907ZM17.9905 19.1616C18.0005 19.0815 18.0105 19.0303 18.0118 18.979C18.043 17.9106 18.4572 17.0374 19.2842 16.3456C19.7471 15.959 20.18 15.5362 20.6029 15.1058C21.4449 14.2489 22.0004 13.2556 22.018 12.0133C22.0392 10.5009 21.5876 9.20858 20.3114 8.29784C19.4756 7.70111 18.5172 7.44466 17.51 7.35709C16.2239 7.24575 14.9527 7.30329 13.7441 7.82121C11.9024 8.60935 10.984 10.3095 11.0403 12.2398H14.8689C15.0202 11.8169 15.1103 11.3928 15.313 11.0313C15.6483 10.4346 16.2226 10.2882 16.8745 10.3795C17.4112 10.4546 17.7778 10.7436 17.9379 11.2577C18.1832 12.0484 18.1231 12.809 17.5851 13.467C17.2773 13.8436 16.9483 14.2201 16.5679 14.5191C15.4456 15.4011 14.8338 16.5382 14.7225 17.9519C14.6912 18.3497 14.6837 18.7488 14.6637 19.1616H17.9892H17.9905ZM16.3715 24.7148C16.5967 24.6823 16.8257 24.6686 17.0459 24.6148C17.8816 24.4096 18.4472 23.7603 18.551 22.9071C18.6436 22.1453 18.2332 21.3809 17.4925 21.0181C16.7043 20.6315 15.9011 20.6416 15.1354 21.0794C14.1557 21.6399 13.8667 22.9459 14.5248 23.8329C14.9777 24.4434 15.6145 24.7061 16.3715 24.7161V24.7148Z" fill="white"/>
          </svg>
        </span>
        <span>
         {{ section.settings.label }}
        </span>
      </a>
      {% endif %}
    </div>
    <div class="video-text-flex">
          
      <div class="video-text-flex-in">
          {% if section.settings.position == "left" %}
          <div class="video-block-right flex-in-m">
          <div class="video-section-in-rght">
            <div class="overlay-banner-v">
              {% if section.settings.img != blank %}
                {%- assign image_url_1 = section.settings.img | image_url: width: section.settings.img.width | image_tag: loading: 'lazy', class: 'image--fade-in', sizes: 'min(100vw, 520px)', widths: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000'-%}
                {{ image_url_1 }}
              {% endif %}
              <div class="button-click-over">
                <button class="ov-btn">
                  <img height="100%" width="100%" class="lazyload image--fade-in" src="https://cdn.shopify.com/s/files/1/0446/7376/1431/files/Group_8423.png?v=1687496423">
                </button>
              </div>
            </div>
            <div class="video-container-v-t" style="display:none;">
               {% if section.settings.video != blank %}
                <video width="100%" height="100%" muted loop controls>
                  <source src="{{ section.settings.video }}" type="video/mp4">
                </video>
              {% endif %}            
            </div>
            <div class="video-btm-overlay">
                <h3>{{ section.settings.v_head }}</h3>
                <p>{{ section.settings.v_sub }}</p>
              </div>
          </div>
          </div>
          {% endif %}
        <div class="text-blocks-left flex-in-m">
          <div class="product-video-heading-sub">
          <h2 class="heading-v-t">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="45" viewBox="0 0 50 45" fill="none">
            <g clip-path="url(#clip0_447_667)">
            <path d="M6.50961 12.539C6.33563 12.4217 6.2066 12.3318 6.07367 12.2477C4.18135 11.0729 2.28316 9.9097 0.402562 8.71331C0.209028 8.59015 0.0233147 8.28324 0.0194049 8.06038C-0.00796341 5.73407 -0.000143883 3.40776 0.00572076 1.08146C0.00572076 0.584916 0.388877 0.279955 0.977297 0.305368C2.84616 0.393338 4.71503 0.489127 6.58194 0.586871C10.0753 0.768675 13.5667 0.952434 17.0601 1.13228C19.8224 1.27303 22.5846 1.40401 25.3468 1.55454C25.5638 1.56627 25.7965 1.64446 25.9822 1.75784C33.8271 6.5043 41.6642 11.2625 49.5092 16.0089C49.9002 16.2455 50.0096 16.568 49.9979 16.9844C49.9158 19.6841 49.8376 22.3838 49.7594 25.0835C49.7379 25.8478 49.7125 26.6122 49.6988 27.3766C49.691 27.8301 49.5326 28.1566 49.126 28.4244C41.4003 33.5129 33.6786 38.6132 25.9665 43.7252C25.5541 43.9989 25.2452 43.9637 24.864 43.7115C17.1344 38.5976 9.40088 33.4875 1.66346 28.3853C1.30963 28.1527 1.16888 27.8614 1.1591 27.4548C1.06527 23.9751 0.967522 20.4934 0.856094 17.0137C0.8385 16.4468 1.04376 16.0734 1.52662 15.7704C3.04165 14.8184 4.53518 13.8351 6.03653 12.8635C6.18315 12.7677 6.32585 12.6661 6.50961 12.541V12.539ZM3.9018 2.00221C4.04646 2.12927 4.07969 2.16642 4.11879 2.19183C10.869 6.50821 17.6212 10.8265 24.3772 15.1371C24.518 15.227 24.7056 15.2798 24.8738 15.2856C31.8664 15.4577 38.859 15.6238 45.8516 15.788C45.9689 15.79 46.0862 15.7724 46.2934 15.7567C46.1038 15.6336 45.9982 15.5593 45.8907 15.4948C39.1092 11.4462 32.3277 7.39572 25.5404 3.35889C25.2902 3.21032 24.9637 3.13604 24.6685 3.1204C18.6612 2.78416 12.6518 2.4616 6.64254 2.13709C5.77067 2.09017 4.89879 2.05108 3.90375 2.00416L3.9018 2.00221ZM24.6509 41.7058C24.6744 41.5749 24.6881 41.528 24.6881 41.481C24.6881 38.408 24.6959 35.3329 24.6744 32.2599C24.6744 32.0761 24.4769 31.8317 24.3029 31.7223C17.1579 27.271 10.0049 22.8334 2.85203 18.3939C2.73474 18.3216 2.60962 18.2629 2.44346 18.1749C2.44346 18.4173 2.43955 18.5952 2.44346 18.7731C2.50601 21.3907 2.57639 24.0083 2.62331 26.6259C2.62917 26.9797 2.74842 27.1733 3.03579 27.3629C10.0929 32.0448 17.1422 36.7346 24.1935 41.4243C24.3244 41.5123 24.4632 41.5905 24.649 41.7039L24.6509 41.7058ZM26.2715 41.7293C26.4181 41.6433 26.4748 41.614 26.5276 41.5788C33.6922 36.8167 40.8569 32.0546 48.0117 27.2788C48.174 27.1713 48.3089 26.8976 48.3167 26.6982C48.3988 24.0318 48.4555 21.3633 48.5181 18.6949C48.522 18.5405 48.5181 18.3861 48.5181 18.1671C48.3323 18.2707 48.2053 18.3333 48.0841 18.4076C40.9273 22.8471 33.7724 27.2905 26.6117 31.7242C26.3341 31.8962 26.2637 32.0878 26.2656 32.3908C26.2754 35.3368 26.2715 38.2809 26.2715 41.2269V41.7313V41.7293ZM9.51817 20.644C9.66088 20.7437 9.73517 20.8043 9.81532 20.8531C14.9449 24.0259 20.0784 27.1928 25.2002 30.3773C25.5032 30.5669 25.6929 30.4731 25.9372 30.3245C29.933 27.8829 33.9307 25.4471 37.9285 23.0094C38.0594 22.9292 38.1826 22.8393 38.3077 22.7533C38.2999 22.72 38.2921 22.6888 38.2843 22.6555C38.1122 22.6555 37.9382 22.6555 37.7662 22.6555C35.1623 22.6555 32.5584 22.6555 29.9565 22.6555C29.1256 22.6555 28.2968 22.6438 27.4679 22.6594C26.9909 22.6692 26.684 22.4952 26.4709 22.0476C26.0017 21.0643 25.4896 20.1044 24.995 19.1348C24.7232 18.605 24.4496 18.0772 24.1524 17.5005C23.132 18.4877 22.1506 19.4339 21.1712 20.382C20.5378 20.9939 20.3424 21.0154 19.6015 20.5599C17.9945 19.5727 16.3935 18.5776 14.7768 17.6041C14.6321 17.5161 14.3506 17.477 14.2255 17.5572C12.6655 18.5581 11.1231 19.5844 9.51817 20.644ZM22.7586 16.0734C15.852 11.6535 8.75186 7.1064 1.57745 2.51438C1.57745 4.15453 1.59113 5.66761 1.56767 7.17873C1.56181 7.55211 1.6791 7.75542 1.9997 7.94895C5.70029 10.1814 9.39111 12.4315 13.0839 14.6757C15.3203 16.0343 17.5527 17.3949 19.795 18.7419C19.9299 18.824 20.2192 18.8806 20.2876 18.8083C21.1321 17.9071 21.9493 16.9805 22.7586 16.0754V16.0734ZM25.6909 16.8632C25.7202 16.9649 25.7261 17.0274 25.7535 17.0802C26.3751 18.2942 26.987 19.514 27.6321 20.7143C27.7044 20.8492 27.9586 20.9567 28.1306 20.9567C32.3258 20.9704 36.521 20.9685 40.7181 20.9606C40.9155 20.9606 41.1384 20.8981 41.3065 20.7945C42.9897 19.7486 44.665 18.6891 46.3423 17.6315C46.4244 17.5787 46.4908 17.5025 46.6199 17.3871C39.5979 17.2112 32.664 17.0372 25.6929 16.8632H25.6909ZM12.8688 16.437C11.3088 15.4322 9.82314 14.4665 8.32179 13.5262C8.2084 13.4559 7.95036 13.5106 7.81547 13.5966C6.86931 14.1987 5.93683 14.8223 5.0024 15.442C4.41202 15.831 3.8236 16.224 3.17458 16.654C4.77368 17.6628 6.30826 18.6324 7.85066 19.5922C7.93276 19.6431 8.1087 19.6372 8.19081 19.5825C9.73126 18.5561 11.2639 17.5201 12.8669 16.437H12.8688Z" fill="black" stroke="black"/>
            </g>
            <defs>
            <clipPath id="clip0_447_667">
            <rect width="50" height="43.6075" fill="white" transform="translate(0 0.620117)"/>
            </clipPath>
            </defs>
            </svg>
            {{ section.settings.heading }}
          </h2>
          <p class="product-video-s-sub">{{ section.settings.subheading }}</p>
          </div>
          
          <div class="v-t-items">
            {% for block in section.blocks %}
              {% if block.type == 'order' %}
            <div class="v-t-item">
              <div class="v-t-img">
                {% if block.settings.logo != blank %}
                    {%- assign image_url_logo = block.settings.logo | image_url: width: block.settings.logo.width | image_tag: loading: 'lazy', class: 'image--fade-in', sizes: 'min(100vw, 520px)', widths: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000'-%}
                    {{ image_url_logo }}
                {% endif %}
              </div>
              <div class="v-t-title">
                <h5>{{ block.settings.title }}</h5>
                <p>{{ block.settings.subtitle }}</p>
              </div>
            </div>
                {% endif %}
            {% endfor %}
          </div>
        </div>
      {% if section.settings.position == "right" %}
        <div class="video-block-right flex-in-m">
          <div class="video-section-in-rght">
            <div class="overlay-banner-v">
              {% if section.settings.img != blank %}<img height="100%" width="100%" class="lazyload image--fade-in" data-src="{{  section.settings.img | img_url:  "master" }}" src="{{ section.settings.img | img_url:"master" }}">{% endif %}
              <div class="button-click-over">
                <button class="ov-btn">
                  <img src="https://cdn.shopify.com/s/files/1/0446/7376/1431/files/Group_8423.svg?v=1687775047">
                </button>
              </div>
            </div>
            <div class="video-container-v-t" style="display:none;">
              {% if section.settings.video != blank %}
                <video width="100%" height="100%" playsinline muted loop>
                  <source src="{{ section.settings.video }}" type="video/mp4">
                </video>
              {% endif %}
              
            </div>
            <div class="video-btm-overlay">
                <h3>{{ section.settings.v_head }}</h3>
                <p>{{ section.settings.v_sub }}</p>
              </div>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
              </div>
  </div>
  {% schema %}
    {
      "name": "Product Video & Text",
      "settings": [
        {
          "type":"select",
          "id":"position",
          "label":"Video Position",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ],
          "default":"left"
        },
        {
          "type":"text",
          "id":"heading",
          "label":"Heading"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading"
        },
        {
          "type":"header",
          "content":"Video"
        },
        {
          "type":"image_picker",
          "id":"img",
          "label":"Video Overlay Image"
        },
        {
          "type":"url",
          "id":"video",
          "label":"Video",
          "info":"Upload video Shopify files then paste url here"
        },
        {
          "type":"textarea",
          "id":"v_head",
          "label":"Video Heading"
        },
        {
          "type":"textarea",
          "id":"v_sub",
          "label":"Video Subheading"
        }
      ],
      "blocks":[
        {
          "type":"order",
          "name":"Order Processing",
          "settings":[
            {
              "type":"text",
              "id":"title",
              "label":"Title"
            },
            {
              "type":"textarea",
              "id":"subtitle",
              "label":"Subtitle"
            },
            {
              "type":"image_picker",
              "id":"logo",
              "label":"Logo"
            }
          ]
        }
      ],
      "presets":[
        {
          "name":"Product Video & Text"
        }      
      ]
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}